
body {
    background-image: url(https://fotorecurso.com/images/2016/04/29/fondo-azul-exagonos-fotorecurso.jpg);
    
}
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    border: 5px solid rgba(6, 45, 109, 0.5);
    cursor: pointer;
}

p {
    color: rgb(241, 245, 8);
}

li {
    list-style: none;
    display: inline-block;
}

.clase1 {
    border: 5px dashed green;
}

.clase2 {
    color: red;


    
}
